<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doadway.dwcms.core.config.dao.ConfigFtpMapper" >
  <resultMap id="BaseResultMap" type="com.doadway.dwcms.core.config.pojo.ConfigFtp" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="SERVER_IP" property="serverIp" jdbcType="VARCHAR" />
    <result column="FTP_PORT" property="ftpPort" jdbcType="VARCHAR" />
    <result column="TIMEOUT" property="timeout" jdbcType="INTEGER" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="PATH" property="path" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, NAME, SERVER_IP, FTP_PORT, TIMEOUT, USER_NAME, PASSWORD, PATH, CODE, URL
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.doadway.dwcms.core.config.pojo.ConfigFtpExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from config_ftp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from config_ftp
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectMaxId" resultType="java.lang.Integer">
    select 
 	Max(CONFIG_FTP.ID)
    from config_ftp
  </select>   
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from config_ftp
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.doadway.dwcms.core.config.pojo.ConfigFtp" >
    insert into config_ftp (ID, NAME, SERVER_IP, 
      FTP_PORT, TIMEOUT, USER_NAME, 
      PASSWORD, PATH, CODE, 
      URL)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{serverIp,jdbcType=VARCHAR}, 
      #{ftpPort,jdbcType=VARCHAR}, #{timeout,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.doadway.dwcms.core.config.pojo.ConfigFtp" >
    insert into config_ftp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="serverIp != null" >
        SERVER_IP,
      </if>
      <if test="ftpPort != null" >
        FTP_PORT,
      </if>
      <if test="timeout != null" >
        TIMEOUT,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="path != null" >
        PATH,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="url != null" >
        URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="serverIp != null" >
        #{serverIp,jdbcType=VARCHAR},
      </if>
      <if test="ftpPort != null" >
        #{ftpPort,jdbcType=VARCHAR},
      </if>
      <if test="timeout != null" >
        #{timeout,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.doadway.dwcms.core.config.pojo.ConfigFtp" >
    update config_ftp
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="serverIp != null" >
        SERVER_IP = #{serverIp,jdbcType=VARCHAR},
      </if>
      <if test="ftpPort != null" >
        FTP_PORT = #{ftpPort,jdbcType=VARCHAR},
      </if>
      <if test="timeout != null" >
        TIMEOUT = #{timeout,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        PATH = #{path,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.doadway.dwcms.core.config.pojo.ConfigFtp" >
    update config_ftp
    set NAME = #{name,jdbcType=VARCHAR},
      SERVER_IP = #{serverIp,jdbcType=VARCHAR},
      FTP_PORT = #{ftpPort,jdbcType=VARCHAR},
      TIMEOUT = #{timeout,jdbcType=INTEGER},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      PATH = #{path,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>