<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doadway.dwcms.core.content.dao.ContentCountMapper" >
  <resultMap id="BaseResultMap" type="com.doadway.dwcms.core.content.pojo.ContentCount" >
    <id column="content_id" property="contentId" jdbcType="INTEGER" />
    <result column="views" property="views" jdbcType="INTEGER" />
    <result column="views_month" property="viewsMonth" jdbcType="INTEGER" />
    <result column="views_week" property="viewsWeek" jdbcType="INTEGER" />
    <result column="views_day" property="viewsDay" jdbcType="INTEGER" />
    <result column="comments" property="comments" jdbcType="INTEGER" />
    <result column="comments_month" property="commentsMonth" jdbcType="INTEGER" />
    <result column="comments_week" property="commentsWeek" jdbcType="SMALLINT" />
    <result column="comments_day" property="commentsDay" jdbcType="SMALLINT" />
    <result column="downloads" property="downloads" jdbcType="INTEGER" />
    <result column="downloads_month" property="downloadsMonth" jdbcType="INTEGER" />
    <result column="downloads_week" property="downloadsWeek" jdbcType="SMALLINT" />
    <result column="downloads_day" property="downloadsDay" jdbcType="SMALLINT" />
    <result column="ups" property="ups" jdbcType="INTEGER" />
    <result column="ups_month" property="upsMonth" jdbcType="INTEGER" />
    <result column="ups_week" property="upsWeek" jdbcType="SMALLINT" />
    <result column="ups_day" property="upsDay" jdbcType="SMALLINT" />
    <result column="downs" property="downs" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    content_id, views, views_month, views_week, views_day, comments, comments_month, 
    comments_week, comments_day, downloads, downloads_month, downloads_week, downloads_day, 
    ups, ups_month, ups_week, ups_day, downs
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.doadway.dwcms.core.content.pojo.ContentCountExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dc_content_count
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dc_content_count
    where content_id = #{contentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dc_content_count
    where content_id = #{contentId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.doadway.dwcms.core.content.pojo.ContentCountExample" >
    delete from dc_content_count
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.doadway.dwcms.core.content.pojo.ContentCount" >
    insert into dc_content_count (content_id, views, views_month, 
      views_week, views_day, comments, 
      comments_month, comments_week, comments_day, 
      downloads, downloads_month, downloads_week, 
      downloads_day, ups, ups_month, 
      ups_week, ups_day, downs
      )
    values (#{contentId,jdbcType=INTEGER}, #{views,jdbcType=INTEGER}, #{viewsMonth,jdbcType=INTEGER}, 
      #{viewsWeek,jdbcType=INTEGER}, #{viewsDay,jdbcType=INTEGER}, #{comments,jdbcType=INTEGER}, 
      #{commentsMonth,jdbcType=INTEGER}, #{commentsWeek,jdbcType=SMALLINT}, #{commentsDay,jdbcType=SMALLINT}, 
      #{downloads,jdbcType=INTEGER}, #{downloadsMonth,jdbcType=INTEGER}, #{downloadsWeek,jdbcType=SMALLINT}, 
      #{downloadsDay,jdbcType=SMALLINT}, #{ups,jdbcType=INTEGER}, #{upsMonth,jdbcType=INTEGER}, 
      #{upsWeek,jdbcType=SMALLINT}, #{upsDay,jdbcType=SMALLINT}, #{downs,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.doadway.dwcms.core.content.pojo.ContentCount" >
    insert into dc_content_count
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contentId != null" >
        content_id,
      </if>
      <if test="views != null" >
        views,
      </if>
      <if test="viewsMonth != null" >
        views_month,
      </if>
      <if test="viewsWeek != null" >
        views_week,
      </if>
      <if test="viewsDay != null" >
        views_day,
      </if>
      <if test="comments != null" >
        comments,
      </if>
      <if test="commentsMonth != null" >
        comments_month,
      </if>
      <if test="commentsWeek != null" >
        comments_week,
      </if>
      <if test="commentsDay != null" >
        comments_day,
      </if>
      <if test="downloads != null" >
        downloads,
      </if>
      <if test="downloadsMonth != null" >
        downloads_month,
      </if>
      <if test="downloadsWeek != null" >
        downloads_week,
      </if>
      <if test="downloadsDay != null" >
        downloads_day,
      </if>
      <if test="ups != null" >
        ups,
      </if>
      <if test="upsMonth != null" >
        ups_month,
      </if>
      <if test="upsWeek != null" >
        ups_week,
      </if>
      <if test="upsDay != null" >
        ups_day,
      </if>
      <if test="downs != null" >
        downs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contentId != null" >
        #{contentId,jdbcType=INTEGER},
      </if>
      <if test="views != null" >
        #{views,jdbcType=INTEGER},
      </if>
      <if test="viewsMonth != null" >
        #{viewsMonth,jdbcType=INTEGER},
      </if>
      <if test="viewsWeek != null" >
        #{viewsWeek,jdbcType=INTEGER},
      </if>
      <if test="viewsDay != null" >
        #{viewsDay,jdbcType=INTEGER},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=INTEGER},
      </if>
      <if test="commentsMonth != null" >
        #{commentsMonth,jdbcType=INTEGER},
      </if>
      <if test="commentsWeek != null" >
        #{commentsWeek,jdbcType=SMALLINT},
      </if>
      <if test="commentsDay != null" >
        #{commentsDay,jdbcType=SMALLINT},
      </if>
      <if test="downloads != null" >
        #{downloads,jdbcType=INTEGER},
      </if>
      <if test="downloadsMonth != null" >
        #{downloadsMonth,jdbcType=INTEGER},
      </if>
      <if test="downloadsWeek != null" >
        #{downloadsWeek,jdbcType=SMALLINT},
      </if>
      <if test="downloadsDay != null" >
        #{downloadsDay,jdbcType=SMALLINT},
      </if>
      <if test="ups != null" >
        #{ups,jdbcType=INTEGER},
      </if>
      <if test="upsMonth != null" >
        #{upsMonth,jdbcType=INTEGER},
      </if>
      <if test="upsWeek != null" >
        #{upsWeek,jdbcType=SMALLINT},
      </if>
      <if test="upsDay != null" >
        #{upsDay,jdbcType=SMALLINT},
      </if>
      <if test="downs != null" >
        #{downs,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.doadway.dwcms.core.content.pojo.ContentCountExample" resultType="java.lang.Integer" >
    select count(*) from dc_content_count
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dc_content_count
    <set >
      <if test="record.contentId != null" >
        content_id = #{record.contentId,jdbcType=INTEGER},
      </if>
      <if test="record.views != null" >
        views = #{record.views,jdbcType=INTEGER},
      </if>
      <if test="record.viewsMonth != null" >
        views_month = #{record.viewsMonth,jdbcType=INTEGER},
      </if>
      <if test="record.viewsWeek != null" >
        views_week = #{record.viewsWeek,jdbcType=INTEGER},
      </if>
      <if test="record.viewsDay != null" >
        views_day = #{record.viewsDay,jdbcType=INTEGER},
      </if>
      <if test="record.comments != null" >
        comments = #{record.comments,jdbcType=INTEGER},
      </if>
      <if test="record.commentsMonth != null" >
        comments_month = #{record.commentsMonth,jdbcType=INTEGER},
      </if>
      <if test="record.commentsWeek != null" >
        comments_week = #{record.commentsWeek,jdbcType=SMALLINT},
      </if>
      <if test="record.commentsDay != null" >
        comments_day = #{record.commentsDay,jdbcType=SMALLINT},
      </if>
      <if test="record.downloads != null" >
        downloads = #{record.downloads,jdbcType=INTEGER},
      </if>
      <if test="record.downloadsMonth != null" >
        downloads_month = #{record.downloadsMonth,jdbcType=INTEGER},
      </if>
      <if test="record.downloadsWeek != null" >
        downloads_week = #{record.downloadsWeek,jdbcType=SMALLINT},
      </if>
      <if test="record.downloadsDay != null" >
        downloads_day = #{record.downloadsDay,jdbcType=SMALLINT},
      </if>
      <if test="record.ups != null" >
        ups = #{record.ups,jdbcType=INTEGER},
      </if>
      <if test="record.upsMonth != null" >
        ups_month = #{record.upsMonth,jdbcType=INTEGER},
      </if>
      <if test="record.upsWeek != null" >
        ups_week = #{record.upsWeek,jdbcType=SMALLINT},
      </if>
      <if test="record.upsDay != null" >
        ups_day = #{record.upsDay,jdbcType=SMALLINT},
      </if>
      <if test="record.downs != null" >
        downs = #{record.downs,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dc_content_count
    set content_id = #{record.contentId,jdbcType=INTEGER},
      views = #{record.views,jdbcType=INTEGER},
      views_month = #{record.viewsMonth,jdbcType=INTEGER},
      views_week = #{record.viewsWeek,jdbcType=INTEGER},
      views_day = #{record.viewsDay,jdbcType=INTEGER},
      comments = #{record.comments,jdbcType=INTEGER},
      comments_month = #{record.commentsMonth,jdbcType=INTEGER},
      comments_week = #{record.commentsWeek,jdbcType=SMALLINT},
      comments_day = #{record.commentsDay,jdbcType=SMALLINT},
      downloads = #{record.downloads,jdbcType=INTEGER},
      downloads_month = #{record.downloadsMonth,jdbcType=INTEGER},
      downloads_week = #{record.downloadsWeek,jdbcType=SMALLINT},
      downloads_day = #{record.downloadsDay,jdbcType=SMALLINT},
      ups = #{record.ups,jdbcType=INTEGER},
      ups_month = #{record.upsMonth,jdbcType=INTEGER},
      ups_week = #{record.upsWeek,jdbcType=SMALLINT},
      ups_day = #{record.upsDay,jdbcType=SMALLINT},
      downs = #{record.downs,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.doadway.dwcms.core.content.pojo.ContentCount" >
    update dc_content_count
    <set >
      <if test="views != null" >
        views = #{views,jdbcType=INTEGER},
      </if>
      <if test="viewsMonth != null" >
        views_month = #{viewsMonth,jdbcType=INTEGER},
      </if>
      <if test="viewsWeek != null" >
        views_week = #{viewsWeek,jdbcType=INTEGER},
      </if>
      <if test="viewsDay != null" >
        views_day = #{viewsDay,jdbcType=INTEGER},
      </if>
      <if test="comments != null" >
        comments = #{comments,jdbcType=INTEGER},
      </if>
      <if test="commentsMonth != null" >
        comments_month = #{commentsMonth,jdbcType=INTEGER},
      </if>
      <if test="commentsWeek != null" >
        comments_week = #{commentsWeek,jdbcType=SMALLINT},
      </if>
      <if test="commentsDay != null" >
        comments_day = #{commentsDay,jdbcType=SMALLINT},
      </if>
      <if test="downloads != null" >
        downloads = #{downloads,jdbcType=INTEGER},
      </if>
      <if test="downloadsMonth != null" >
        downloads_month = #{downloadsMonth,jdbcType=INTEGER},
      </if>
      <if test="downloadsWeek != null" >
        downloads_week = #{downloadsWeek,jdbcType=SMALLINT},
      </if>
      <if test="downloadsDay != null" >
        downloads_day = #{downloadsDay,jdbcType=SMALLINT},
      </if>
      <if test="ups != null" >
        ups = #{ups,jdbcType=INTEGER},
      </if>
      <if test="upsMonth != null" >
        ups_month = #{upsMonth,jdbcType=INTEGER},
      </if>
      <if test="upsWeek != null" >
        ups_week = #{upsWeek,jdbcType=SMALLINT},
      </if>
      <if test="upsDay != null" >
        ups_day = #{upsDay,jdbcType=SMALLINT},
      </if>
      <if test="downs != null" >
        downs = #{downs,jdbcType=INTEGER},
      </if>
    </set>
    where content_id = #{contentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.doadway.dwcms.core.content.pojo.ContentCount" >
    update dc_content_count
    set views = #{views,jdbcType=INTEGER},
      views_month = #{viewsMonth,jdbcType=INTEGER},
      views_week = #{viewsWeek,jdbcType=INTEGER},
      views_day = #{viewsDay,jdbcType=INTEGER},
      comments = #{comments,jdbcType=INTEGER},
      comments_month = #{commentsMonth,jdbcType=INTEGER},
      comments_week = #{commentsWeek,jdbcType=SMALLINT},
      comments_day = #{commentsDay,jdbcType=SMALLINT},
      downloads = #{downloads,jdbcType=INTEGER},
      downloads_month = #{downloadsMonth,jdbcType=INTEGER},
      downloads_week = #{downloadsWeek,jdbcType=SMALLINT},
      downloads_day = #{downloadsDay,jdbcType=SMALLINT},
      ups = #{ups,jdbcType=INTEGER},
      ups_month = #{upsMonth,jdbcType=INTEGER},
      ups_week = #{upsWeek,jdbcType=SMALLINT},
      ups_day = #{upsDay,jdbcType=SMALLINT},
      downs = #{downs,jdbcType=INTEGER}
    where content_id = #{contentId,jdbcType=INTEGER}
  </update>
</mapper>