
.mleft05{
	float:left;
	width:280px;
	height:auto;
	overflow:hidden;
}
/*pages 缈婚〉*/
.listpages{
	width:100%;
	height:25px;
	margin-top:15px;
	overflow:hidden;
}
.ulli05{
	float:right;
}
.ulli05 li{
	float:left;
	border: 1px solid #9B9B9B;
	margin:0px 5px;
	font-family: 'Microsoft YaHei' !important;
}
.ulli05 li a{
	padding:0px 4px;
}
.ulli05 li a:hover{
	background:#9B9B9B;
	color:#FFF;
}
.thispage{
	padding:0px 4px;
	background:#9B9B9B;
	color:#FFF;
}
.mleft04{
	float:left;
	width:465px;
	height:auto;
	overflow:hidden;
}
.mlogin{
	width:100%;
	height:100%;
}
h1.h101{
	width:100%;
	height:40px;
	line-height:35px;
	font-size:14px;
	text-indent:20px;
	overflow:hidden;
}
h1.h102{
	width:100%;
	height:35px;
	line-height:35px;
	font-size:14px;
	overflow:hidden;
}
h1.h103{
	width:100%;
	height:30px;
	line-height:30px;
	background:url(../images/tan_bg.gif) repeat-x;
	font-size:14px;
	text-indent:10px;
	overflow:hidden;
}
.dldt01{
	padding-top:15px;
	padding-left:175px;
	background:url(../images/login.gif) no-repeat;
	height:110px;
}
.dldt01 dt{
	height:40px;
}
.dldt01 dt span{
	float:left;
	width:70px;
	text-align:right;
	padding-right:5px;
	height:25px;
	display:block;
	
}
.dldt02{
	width:100%;
	height:35px;
	line-height:35px;
	overflow:hidden;
}
.dldt03{
	width:100%;
	height:35px;
	line-height:34px;
	border-bottom:1px dashed #C0B9A4;
	overflow:hidden;
}
.dldt04{
	padding-top:15px;
	height:auto;
}
.dldt04 dt{
	height:30px;
}
.dldt04 dt span{
	float:left;
	width:70px;
	text-align:right;
	padding-right:10px;
	height:25px;
	display:block;
}
.dldt04 dt em{
	font-style:normal;
	color:#C00;
	padding-left:5px;
}
.dldt05{
	padding-top:15px;
	padding-left:10px;
	padding-right:10px;
	height:auto;
}
.dldt05 dt{
	width:100%;
	padding:8px 10px;
}
.dldt05 dt span{
	float:left;
	width:70px;
	text-align:right;
	padding-right:10px;
	height:25px;
	display:block;
}
.dldt05 dt em{
	font-style:normal;
	color:#C00;
	padding-left:5px;
}
.dldt05 dt textarea{
	width:300px;
	height:50px;
}
.dldt06{
	width:100%;
	height:35px;
	background:url(../images/dispatch02.gif) no-repeat;
	line-height:35px;
	overflow:hidden;
}
.dldt07{
	width:100%;
	height:30px;
	line-height:30px;
	overflow:hidden;
}
.dldt07 dt{
	float:left;
}
.dldt07 dd{
	float:right;
}
.dt01{
	text-align:center;
}
.dt02{
	float:left;
	text-align:center;
	width:15%;
}
.dt03{
	float:left;
	text-align:center;
	width:20%;
}
input.in01{
	width:180px;
	height:16px;
	padding:2px 5px;
	background:url(../images/inputbg.gif) no-repeat;
	border:none;
}
input.in02{
	height:25px;
	width:115px;
	background:url(../images/button.gif) no-repeat;
	line-height:28px;
	border:none;
	margin:10px 5px;
	overflow:hidden;
}
.in03{
	height:25px;
	width:115px;
	line-height:28px;
	margin:0px 5px;
	background:url(../images/button.gif) no-repeat;
	overflow:hidden;
}
.in03 a{
	height:25px;
	width:115px;
}
.mright02{
	float:right;
	width:420px;
	height:100%;
	overflow:hidden;
}
.mright03{
	float:right;
	width:576px;
	height:100%;
	overflow:hidden;
}
.mreg{
	width:100%;
}
.dispatch01{
	width:100%;
	height:auto;
	clear:both;
	overflow:hidden;
}
/*寮瑰嚭灞�/
.passwordDiv{
width:500px;
height:380px;
border:1px solid #45454e;
color:#555;
background:#fff;
position:absolute;
z-index:1000;
left:40%;
top:40%;
margin-left:-150px;
margin-top:-100px;
}
.selectedbgDiv{
width:100%;
height:100%;
background:#000;
left:0;
top:0;/*FF IE7*/
filter:alpha(opacity=90);/*IE*/
opacity:.2;/*FF*/
z-index:1;
position:fixed!important;/*FF IE7*/
position:absolute;/*IE6*/
_top:expression(eval(document.compatMode &&
document.compatMode=='CSS1Compat') ?
documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
}

.footer{
	margin-bottom:15px;
}
.footer01{
	width:100%;
	height:25px;
	line-height:25px;
	overflow:hidden;
	color:#5D5D5D;
	margin-bottom:15px;
}
.footer01 li{
	float:left;
	padding-right:5px;
}
.footer01 li a{
	color:#5D5D5D;
}
.footer02{
	width:100%;
	height:auto;
}
.footer02 p{
	width:100%;
	height:100%;
	line-height:25px;
	text-align:left;
	color:#5D5D5D;
}