<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doadway.dwcms.assistant.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.doadway.dwcms.assistant.pojo.Comment" >
    <id column="comment_id" property="commentId" jdbcType="INTEGER" />
    <result column="comment_user_id" property="commentUserId" jdbcType="INTEGER" />
    <result column="reply_user_id" property="replyUserId" jdbcType="INTEGER" />
    <result column="content_id" property="contentId" jdbcType="INTEGER" />
    <result column="site_id" property="siteId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="reply_time" property="replyTime" jdbcType="TIMESTAMP" />
    <result column="ups" property="ups" jdbcType="SMALLINT" />
    <result column="downs" property="downs" jdbcType="SMALLINT" />
    <result column="is_recommend" property="isRecommend" jdbcType="BIT" />
    <result column="is_checked" property="isChecked" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    comment_id, comment_user_id, reply_user_id, content_id, site_id, create_time, reply_time, 
    ups, downs, is_recommend, is_checked
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.doadway.dwcms.assistant.pojo.CommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dc_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dc_comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </select>
 <select id="selectByPage" resultMap="BaseResultMap" >
	select
	<include refid="Base_Column_List" />
	from dc_comment 
	order by comment_id DESC
 </select>  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dc_comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.doadway.dwcms.assistant.pojo.CommentExample" >
    delete from dc_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.doadway.dwcms.assistant.pojo.Comment" keyProperty="commentId" useGeneratedKeys="true">
    insert into dc_comment (comment_id, comment_user_id, reply_user_id, 
      content_id, site_id, create_time, 
      reply_time, ups, downs, 
      is_recommend, is_checked)
    values (#{commentId,jdbcType=INTEGER}, #{commentUserId,jdbcType=INTEGER}, #{replyUserId,jdbcType=INTEGER}, 
      #{contentId,jdbcType=INTEGER}, #{siteId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{replyTime,jdbcType=TIMESTAMP}, #{ups,jdbcType=SMALLINT}, #{downs,jdbcType=SMALLINT}, 
      #{isRecommend,jdbcType=BIT}, #{isChecked,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.doadway.dwcms.assistant.pojo.Comment" >
    insert into dc_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="commentUserId != null" >
        comment_user_id,
      </if>
      <if test="replyUserId != null" >
        reply_user_id,
      </if>
      <if test="contentId != null" >
        content_id,
      </if>
      <if test="siteId != null" >
        site_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="replyTime != null" >
        reply_time,
      </if>
      <if test="ups != null" >
        ups,
      </if>
      <if test="downs != null" >
        downs,
      </if>
      <if test="isRecommend != null" >
        is_recommend,
      </if>
      <if test="isChecked != null" >
        is_checked,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="commentUserId != null" >
        #{commentUserId,jdbcType=INTEGER},
      </if>
      <if test="replyUserId != null" >
        #{replyUserId,jdbcType=INTEGER},
      </if>
      <if test="contentId != null" >
        #{contentId,jdbcType=INTEGER},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyTime != null" >
        #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ups != null" >
        #{ups,jdbcType=SMALLINT},
      </if>
      <if test="downs != null" >
        #{downs,jdbcType=SMALLINT},
      </if>
      <if test="isRecommend != null" >
        #{isRecommend,jdbcType=BIT},
      </if>
      <if test="isChecked != null" >
        #{isChecked,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.doadway.dwcms.assistant.pojo.CommentExample" resultType="java.lang.Integer" >
    select count(*) from dc_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dc_comment
    <set >
      <if test="record.commentId != null" >
        comment_id = #{record.commentId,jdbcType=INTEGER},
      </if>
      <if test="record.commentUserId != null" >
        comment_user_id = #{record.commentUserId,jdbcType=INTEGER},
      </if>
      <if test="record.replyUserId != null" >
        reply_user_id = #{record.replyUserId,jdbcType=INTEGER},
      </if>
      <if test="record.contentId != null" >
        content_id = #{record.contentId,jdbcType=INTEGER},
      </if>
      <if test="record.siteId != null" >
        site_id = #{record.siteId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.replyTime != null" >
        reply_time = #{record.replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ups != null" >
        ups = #{record.ups,jdbcType=SMALLINT},
      </if>
      <if test="record.downs != null" >
        downs = #{record.downs,jdbcType=SMALLINT},
      </if>
      <if test="record.isRecommend != null" >
        is_recommend = #{record.isRecommend,jdbcType=BIT},
      </if>
      <if test="record.isChecked != null" >
        is_checked = #{record.isChecked,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dc_comment
    set comment_id = #{record.commentId,jdbcType=INTEGER},
      comment_user_id = #{record.commentUserId,jdbcType=INTEGER},
      reply_user_id = #{record.replyUserId,jdbcType=INTEGER},
      content_id = #{record.contentId,jdbcType=INTEGER},
      site_id = #{record.siteId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      reply_time = #{record.replyTime,jdbcType=TIMESTAMP},
      ups = #{record.ups,jdbcType=SMALLINT},
      downs = #{record.downs,jdbcType=SMALLINT},
      is_recommend = #{record.isRecommend,jdbcType=BIT},
      is_checked = #{record.isChecked,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.doadway.dwcms.assistant.pojo.Comment" >
    update dc_comment
    <set >
      <if test="commentUserId != null" >
        comment_user_id = #{commentUserId,jdbcType=INTEGER},
      </if>
      <if test="replyUserId != null" >
        reply_user_id = #{replyUserId,jdbcType=INTEGER},
      </if>
      <if test="contentId != null" >
        content_id = #{contentId,jdbcType=INTEGER},
      </if>
      <if test="siteId != null" >
        site_id = #{siteId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyTime != null" >
        reply_time = #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ups != null" >
        ups = #{ups,jdbcType=SMALLINT},
      </if>
      <if test="downs != null" >
        downs = #{downs,jdbcType=SMALLINT},
      </if>
      <if test="isRecommend != null" >
        is_recommend = #{isRecommend,jdbcType=BIT},
      </if>
      <if test="isChecked != null" >
        is_checked = #{isChecked,jdbcType=BIT},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.doadway.dwcms.assistant.pojo.Comment" >
    update dc_comment
    set comment_user_id = #{commentUserId,jdbcType=INTEGER},
      reply_user_id = #{replyUserId,jdbcType=INTEGER},
      content_id = #{contentId,jdbcType=INTEGER},
      site_id = #{siteId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      reply_time = #{replyTime,jdbcType=TIMESTAMP},
      ups = #{ups,jdbcType=SMALLINT},
      downs = #{downs,jdbcType=SMALLINT},
      is_recommend = #{isRecommend,jdbcType=BIT},
      is_checked = #{isChecked,jdbcType=BIT}
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
</mapper>