<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doadway.dwcms.assistant.dao.VoteItemMapper" >
  <resultMap id="BaseResultMap" type="com.doadway.dwcms.assistant.pojo.VoteItem" >
    <id column="voteitem_id" property="voteitemId" jdbcType="INTEGER" />
    <result column="votetopic_id" property="votetopicId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="vote_count" property="voteCount" jdbcType="INTEGER" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    voteitem_id, votetopic_id, title, vote_count, priority
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.doadway.dwcms.assistant.pojo.VoteItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dc_vote_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dc_vote_item
    where voteitem_id = #{voteitemId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dc_vote_item
    where voteitem_id = #{voteitemId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.doadway.dwcms.assistant.pojo.VoteItemExample" >
    delete from dc_vote_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.doadway.dwcms.assistant.pojo.VoteItem" useGeneratedKeys="true" keyProperty="voteitemId">
    insert into dc_vote_item (voteitem_id, votetopic_id, title, 
      vote_count, priority)
    values (#{voteitemId,jdbcType=INTEGER}, #{votetopicId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{voteCount,jdbcType=INTEGER}, #{priority,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.doadway.dwcms.assistant.pojo.VoteItem" >
    insert into dc_vote_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="voteitemId != null" >
        voteitem_id,
      </if>
      <if test="votetopicId != null" >
        votetopic_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="voteCount != null" >
        vote_count,
      </if>
      <if test="priority != null" >
        priority,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="voteitemId != null" >
        #{voteitemId,jdbcType=INTEGER},
      </if>
      <if test="votetopicId != null" >
        #{votetopicId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="voteCount != null" >
        #{voteCount,jdbcType=INTEGER},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.doadway.dwcms.assistant.pojo.VoteItemExample" resultType="java.lang.Integer" >
    select count(*) from dc_vote_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dc_vote_item
    <set >
      <if test="record.voteitemId != null" >
        voteitem_id = #{record.voteitemId,jdbcType=INTEGER},
      </if>
      <if test="record.votetopicId != null" >
        votetopic_id = #{record.votetopicId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.voteCount != null" >
        vote_count = #{record.voteCount,jdbcType=INTEGER},
      </if>
      <if test="record.priority != null" >
        priority = #{record.priority,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dc_vote_item
    set voteitem_id = #{record.voteitemId,jdbcType=INTEGER},
      votetopic_id = #{record.votetopicId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      vote_count = #{record.voteCount,jdbcType=INTEGER},
      priority = #{record.priority,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.doadway.dwcms.assistant.pojo.VoteItem" >
    update dc_vote_item
    <set >
      <if test="votetopicId != null" >
        votetopic_id = #{votetopicId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="voteCount != null" >
        vote_count = #{voteCount,jdbcType=INTEGER},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=INTEGER},
      </if>
    </set>
    where voteitem_id = #{voteitemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.doadway.dwcms.assistant.pojo.VoteItem" >
    update dc_vote_item
    set votetopic_id = #{votetopicId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      vote_count = #{voteCount,jdbcType=INTEGER},
      priority = #{priority,jdbcType=INTEGER}
    where voteitem_id = #{voteitemId,jdbcType=INTEGER}
  </update>
</mapper>