<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doadway.dwcms.maintain.dao.KeywordMapper" >
  <resultMap id="BaseResultMap" type="com.doadway.dwcms.maintain.pojo.Keyword" >
    <id column="keyword_id" property="keywordId" jdbcType="INTEGER" />
    <result column="site_id" property="siteId" jdbcType="INTEGER" />
    <result column="keyword_name" property="keywordName" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="is_disabled" property="isDisabled" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    keyword_id, site_id, keyword_name, url, is_disabled
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.doadway.dwcms.maintain.pojo.KeywordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dc_keyword
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dc_keyword
    where keyword_id = #{keywordId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dc_keyword
    where keyword_id = #{keywordId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.doadway.dwcms.maintain.pojo.KeywordExample" >
    delete from dc_keyword
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.doadway.dwcms.maintain.pojo.Keyword" useGeneratedKeys="true" keyProperty="keywordId">
    insert into dc_keyword (keyword_id, site_id, keyword_name, 
      url, is_disabled)
    values (#{keywordId,jdbcType=INTEGER}, #{siteId,jdbcType=INTEGER}, #{keywordName,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{isDisabled,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.doadway.dwcms.maintain.pojo.Keyword" >
    insert into dc_keyword
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="keywordId != null" >
        keyword_id,
      </if>
      <if test="siteId != null" >
        site_id,
      </if>
      <if test="keywordName != null" >
        keyword_name,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="isDisabled != null" >
        is_disabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="keywordId != null" >
        #{keywordId,jdbcType=INTEGER},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=INTEGER},
      </if>
      <if test="keywordName != null" >
        #{keywordName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="isDisabled != null" >
        #{isDisabled,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.doadway.dwcms.maintain.pojo.KeywordExample" resultType="java.lang.Integer" >
    select count(*) from dc_keyword
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dc_keyword
    <set >
      <if test="record.keywordId != null" >
        keyword_id = #{record.keywordId,jdbcType=INTEGER},
      </if>
      <if test="record.siteId != null" >
        site_id = #{record.siteId,jdbcType=INTEGER},
      </if>
      <if test="record.keywordName != null" >
        keyword_name = #{record.keywordName,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.isDisabled != null" >
        is_disabled = #{record.isDisabled,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dc_keyword
    set keyword_id = #{record.keywordId,jdbcType=INTEGER},
      site_id = #{record.siteId,jdbcType=INTEGER},
      keyword_name = #{record.keywordName,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      is_disabled = #{record.isDisabled,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.doadway.dwcms.maintain.pojo.Keyword" >
    update dc_keyword
    <set >
      <if test="siteId != null" >
        site_id = #{siteId,jdbcType=INTEGER},
      </if>
      <if test="keywordName != null" >
        keyword_name = #{keywordName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="isDisabled != null" >
        is_disabled = #{isDisabled,jdbcType=BIT},
      </if>
    </set>
    where keyword_id = #{keywordId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.doadway.dwcms.maintain.pojo.Keyword" >
    update dc_keyword
    set site_id = #{siteId,jdbcType=INTEGER},
      keyword_name = #{keywordName,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      is_disabled = #{isDisabled,jdbcType=BIT}
    where keyword_id = #{keywordId,jdbcType=INTEGER}
  </update>
</mapper>